{% extends "dashboard/admin/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
      <h5 class="card-header-title">{% trans "Create discount code" %}</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
    <div class="card-body">
      <form action="." method="post">
        {% csrf_token %}
        <div class="row d-flex ">

            <!-- Form -->
            <div class="row mb-4">
                <label for="firstNameLabel" class="col-sm-3 col-form-label form-label">{% trans "Discount values" %}</label>

                <div class="col-sm-9">
                  <div class="input-group">
                    {{form.discount_percent}}
                    {{form.max_limit_usage}}
                  </div>
                </div>
              </div>
              <!-- End Form -->

              <!-- Form -->
                <label for="phoneLabel" class="col-sm-3 col-form-label form-label">{% trans "Discount code" %}</label>

                <div class="col-sm-9">
                  <div class="input-group ">
                      {{form.code}}
                  </div>
                  
                  <!-- Container For Input Field -->
                  
              </div>
          </div>
          <!-- End Form -->

          <div class=" d-flex pt-5 justify-content-end">
            <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:coupon-list' %}">{% trans "Back" %}</a>
            <button type="submit" class="btn btn-primary ms-3">{% trans "Submit code" %}</button>
          </div>
        </div>
    </form>
  </div>
  <div class="card-footer">
{% endblock content %}

{% block extera-js %}
{% endblock extera-js %}
