{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
      <div class="w-lg-75 text-center mx-lg-auto">
        <!-- Heading -->
        <div class="mb-5 mb-md-10">
          <h1 class="display-4">{% trans "About us" %}</h1>
          <p class="lead">{% blocktrans trimmed %}Front is a web company that builds websites. Businesses of every size—from new startups to public enterprises—use our theme to create and manage their online presence.{% endblocktrans %}</p>
        </div>
        <!-- End Heading -->
      </div>

      <div class="row gx-3">
        <div class="col mb-3">
          <div class="bg-img-start" style="background-image: url({% static '/img/480x320/img17.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col-3 d-none d-md-block mb-3">
          <div class="bg-img-start" style="background-image: url({% static '/img/480x320/img6.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col mb-3">
          <div class="bg-img-start" style="background-image: url({% static '/img/480x320/img14.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="w-100"></div>

        <div class="col mb-3 mb-md-0">
          <div class="bg-img-start" style="background-image: url({% static '/img/480x320/img25.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col-4 d-none d-md-block mb-3 mb-md-0">
          <div class="bg-img-start" style="background-image: url({% static '/img/480x320/img16.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->

        <div class="col">
          <div class="bg-img-start" style="background-image: url({% static '/img/480x320/img12.jpg' %}); height: 15rem;"></div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Gallery -->

    <!-- Feature Stats -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="row justify-content-lg-center">
        <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
          <div class="text-center">
            <h2 class="display-4">7</h2>
            <p class="small">{% trans "Years in business" %}</p>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
          <div class="text-center">
            <h2 class="display-4">3,5k+</h2>
            <p class="small">{% trans "Copies sold" %}</p>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-sm-4 col-lg-3">
          <div class="text-center">
            <h2 class="display-4">85%</h2>
            <p class="small">{% trans "Happy customers" %}</p>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Feature Stats -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Info -->
    <div class="container content-space-2 content-space-lg-3">
      <div class="row justify-content-lg-between">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h2>{% trans "Tools should adapt to users, not the other way around." %}</h2>
        </div>
        <!-- End Col -->

        <div class="col-lg-6">
          <p>{% blocktrans trimmed %}Since 2007, we have helped 25 companies launch more than 1,000 remarkable products. We believe the best digital solutions are created where business strategy, existing technology, and genuine user needs intersect.{% endblocktrans %}</p>
          <p>{% blocktrans trimmed %}Everything can become incredibly complex, incredibly fast, and a practical, tangible, and clear perspective is essential to build something that people will ultimately use. Emotion plays an important role, and crafting a clear, beautiful aesthetic that creates an enjoyable environment is vital. In the end, we all crave beautiful things that simply work.{% endblocktrans %}</p>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Info -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Team -->
    <div class="container content-space-2 content-space-lg-3">
      <!-- Heading -->
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <span class="text-cap">{% trans "Our team" %}</span>
        <h2>{% trans "Creative minds" %}</h2>
      </div>
      <!-- End Heading -->

      <div class="row gx-3 mb-5">
        <div class="col-sm-6 col-lg-3 mb-3">
          <!-- Card -->
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="{% static '/img/160x160/img7.jpg' %}" alt="Image Description">
              </div>

              <span class="card-subtitle">{% trans "Founder / CEO" %}</span>
              <h4 class="card-title">{% trans "Christina Kray" %}</h4>
              <p class="card-text">{% trans "I'm an ambitious workaholic, but apart from that, a pretty simple person." %}</p>
            </div>

            <div class="card-footer pt-0">
              <!-- Socials -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-google"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3">
          <!-- Card -->
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="{% static '/img/160x160/img3.jpg' %}" alt="Image Description">
              </div>

              <span class="card-subtitle">{% trans "Project manager" %}</span>
              <h4 class="card-title">{% trans "Jeff Fisher" %}</h4>
              <p class="card-text">{% trans "I'm an ambitious workaholic, but apart from that, a pretty simple person." %}</p>
            </div>

            <div class="card-footer pt-0">
              <!-- Socials -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-google"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3">
          <!-- Card -->
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="{% static '/img/160x160/img10.jpg' %}" alt="Image Description">
              </div>

              <span class="card-subtitle">{% trans "Product designer" %}</span>
              <h4 class="card-title">{% trans "Amy Forney" %}</h4>
              <p class="card-text">{% trans "I'm an ambitious workaholic, but apart from that, a pretty simple person." %}</p>
            </div>

            <div class="card-footer pt-0">
              <!-- Socials -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-google"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-lg-3 mb-3">
          <!-- Card -->
          <div class="card card-transition h-100">
            <div class="card-body">
              <div class="avatar avatar-lg avatar-circle mb-4">
                <img class="avatar-img" src="{% static '/img/160x160/img5.jpg' %}" alt="Image Description">
              </div>

              <span class="card-subtitle">{% trans "Support consultant" %}</span>
              <h4 class="card-title">{% trans "Philip Williams" %}</h4>
              <p class="card-text">{% trans "I'm an ambitious workaholic, but apart from that, a pretty simple person." %}</p>
            </div>

            <div class="card-footer pt-0">
              <!-- Socials -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-google"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-outline-primary btn-xs btn-icon rounded" href="#">
                    <i class="bi-twitter"></i>
                  </a>
                </li>
              </ul>
              <!-- End Socials -->
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->

      <!-- Card Info -->
      <div class="text-center">
        <div class="card card-info-link card-sm">
          <div class="card-body">
            {% trans "Want to work with us?" %} <a class="card-link ms-2" href="./page-hire-us.html">{% trans "We're hiring" %}<span class="bi-chevron-left small me-1"></span></a>
          </div>
        </div>
      </div>
      <!-- End Card Info -->
    </div>
    <!-- End Team --> 
{% endblock content %}

