{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  
<div class="container content-space-2 content-space-lg-3">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
      <div class="mb-5">
        <img class="img-fluid" src="{% static 'svg/illustrations/oc-empty-cart.svg' %}" alt="Image Description" style="width: 15rem;">
      </div>

      <div class="mb-5">
        <h1 class="h2">{% trans "Your shopping cart is currently empty" %}</h1>
        <p>{% trans "Before proceeding to checkout, you need to add some products to your cart. You will find lots of interesting products on our \"Shop\" page." %}</p>
      </div>

      <a class="btn btn-primary btn-transition rounded-pill px-6" href="{% url 'shop:list_grid' %}">{% trans "Start shopping" %}</a>
    </div>
  </div>

{% endblock content %}
