{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
    <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
      <!-- Heading -->
      <div class="text-center mb-5 mb-md-7">
        <h1 class="h2">{% trans "Sign-up form" %}</h1>
        <p>{% trans "Complete the form below to create your account." %}</p>
      </div>
      <!-- End Heading -->

      <!-- Form -->
      <form class="js-validate needs-validation" method="post" novalidate>
        {% csrf_token %}
        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="signupSimpleSignupEmail">{% trans "Email address" %}</label>
          <input type="email" class="form-control form-control-lg text-center" name="email" id="signupSimpleSignupEmail"
            placeholder="{% trans 'email@site.com' %}" aria-label="{% trans 'email@site.com' %}" required>
          <span class="invalid-feedback">{% trans "Please enter a valid email address." %}</span>
        </div>
        <!-- End Form -->

        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="signupSimpleSignupPassword">{% trans "Password" %}</label>

          <div class="input-group input-group-merge" data-hs-validation-validate-class>
            <input type="password" class="js-toggle-password form-control form-control-lg text-center" name="password1"
              id="signupSimpleSignupPassword" placeholder="{% trans '8+ characters required' %}" aria-label="{% trans '8+ characters required' %}"
              required data-hs-toggle-password-options='{
                       "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                       "defaultClass": "bi-eye-slash",
                       "showClass": "bi-eye",
                       "classChangeTarget": ".js-toggle-passowrd-show-icon-1"
                     }'>
            <a class="js-toggle-password-target-1 input-group-append input-group-text" href="javascript:;">
              <i class="js-toggle-passowrd-show-icon-1 bi-eye"></i>
            </a>
          </div>

          <span class="invalid-feedback">{% trans "Your password is invalid. Please try again." %}</span>
        </div>
        <!-- End Form -->

        <!-- Form -->
        <div class="mb-3">
          <label class="form-label" for="signupSimpleSignupConfirmPassword">{% trans "Confirm password" %}</label>

          <div class="input-group input-group-merge" data-hs-validation-validate-class>
            <input type="password" class="js-toggle-password form-control form-control-lg text-center" name="password2"
              id="signupSimpleSignupConfirmPassword" placeholder="{% trans '8+ characters required' %}"
              aria-label="{% trans '8+ characters required' %}" required
              data-hs-validation-equal-field="#signupSimpleSignupPassword" data-hs-toggle-password-options='{
                     "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                     "defaultClass": "bi-eye-slash",
                     "showClass": "bi-eye",
                     "classChangeTarget": ".js-toggle-passowrd-show-icon-2"
                   }'>
            <a class="js-toggle-password-target-2 input-group-append input-group-text" href="javascript:;">
              <i class="js-toggle-passowrd-show-icon-2 bi-eye"></i>
            </a>
          </div>

          <span class="invalid-feedback">{% trans "The password and confirmation do not match." %}</span>
        </div>
        <!-- End Form -->

        <!-- Check -->
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="signupHeroFormPrivacyCheck"
            name="signupFormPrivacyCheck" required>
          <label class="form-check-label small" for="signupHeroFormPrivacyCheck">
            {% blocktrans trimmed with privacy_link_start='<a href="#">'|safe privacy_link_end='</a>' %}
            By submitting this form, I confirm that I have read and agreed to the {{ privacy_link_start }}privacy policy{{ privacy_link_end }}.
            {% endblocktrans %}
          </label>
          <span class="invalid-feedback">{% trans "Please accept our privacy policy." %}</span>
        </div>
        <!-- End Check -->

        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-primary btn-lg">{% trans "Sign up" %}</button>
        </div>

        <div class="text-center">
          <p>{% trans "Already have an account?" %} <a class="link" href="{% url 'login' %}">{% trans "Sign in here" %}</a></p>
        </div>
      </form>
      <!-- End Form -->
    </div>
  </div>
{% endblock content %}


{% block extera-js %}
<script>
    // INITIALIZATION OF TOGGLE PASSWORD
    // =======================================================
    new HSTogglePassword('.js-toggle-password')
</script>
{% endblock extera-js %}