{% extends "dashboard/admin/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
        <h5 class="card-header-title">{% trans "Delete product" %}</h5>
    </div>
    <!-- End Header -->

    <form action="." method="post">{% csrf_token %}
        <div class="card-body">
            <p>{% trans "Are you sure you want to delete this product? This action cannot be undone." %}</p>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <a class="btn btn-secondary me-3" href="{% url 'dashboard:admin:edit-prod' pk=object.pk %}">{% trans "Back" %}</a>
            <span class="mx-2"></span> <!-- Added this for spacing -->
            <button class="btn btn-danger">{% trans "Delete" %}</button>
        </div>
    </form>
</div>

{% endblock content %}
