{% extends "dashboard/admin/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="card">
    <!-- Header -->
    <div class="card-header border-bottom">
      <h5 class="card-header-title">{% blocktrans with ticket_id=ticket.id %}Ticket number {{ ticket_id }}{% endblocktrans %}</h5>
    </div>
    <!-- End Header -->

    <!-- Body -->
      <div class="card-body">

        <div class="row d-flex align-items-center">
          <div class="col-md-6 mb-3">
            <dt>{% trans "Email:" %} </dt>
            <dl>{{ticket.email}}</dl>
          </div>
          <div class="col-md-6 mb-3">
            <dt>{% trans "Full name:" %} </dt>
            <dl>{{ticket.name}} {{ticket.last_name}}</dl>
          </div>
          <div class="col-md-6 mb-3">
            <dt>{% trans "Phone number:" %} </dt>
            <dl>{{ticket.phone_number}}</dl>
          </div>
          <div class="col-md-12 mb-3">
            <dt>{% trans "Message:" %}</dt>
            <dl>
              <p>
                {{ticket.description}}
              </p>
            </dl>
          </div>
        </div>
        <!-- End Row -->

      </div>
      <div class="card-footer row pt-5 mt-5">

        <div class=" d-flex pt-5 justify-content-end">
          <a class="btn btn-secondary ms-3" href="{% url 'dashboard:admin:ticket-list' %}">{% trans "Back" %}</a>
          <a class="btn btn-primary ms-3" href="{% url 'dashboard:admin:ticket-delete' pk=ticket.id %}">{% trans "Close ticket" %}</a>
        </div>

      </div>
    <!-- End Body -->

  </div>

  {% endblock content %}

  {% block extera-js %}
  
  {% endblock extera-js %}
